flows.json
[{"id":"b525e208.bca05","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cba288ff.f74be8","type":"firebase.on","z":"b525e208.bca05","name":"ESP32-Sunmonitor","firebaseconfig":"","childpath":"","atStart":true,"eventType":"value","queries":[],"x":170,"y":640,"wires":[["9d9181aa.05c4c","70ad55bb.2a914c","5929776.5174888"]]},{"id":"9d9181aa.05c4c","type":"debug","z":"b525e208.bca05","name":"Mensaje Recibido","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":420,"wires":[]},{"id":"70ad55bb.2a914c","type":"json","z":"b525e208.bca05","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":580,"wires":[["c4dac241.8135a","3e30236d.d9a90c"]]},{"id":"5929776.5174888","type":"json","z":"b525e208.bca05","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":680,"wires":[["4f22df9a.d9074"]]},{"id":"4f22df9a.d9074","type":"change","z":"b525e208.bca05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PanelPrueba[\"Panel:\"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":680,"wires":[["fca7477f.9b6b78","d308ac43.8ce0b","1bfa2764.417019"]]},{"id":"c4dac241.8135a","type":"change","z":"b525e208.bca05","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PanelPrueba[\"Bateria: \"]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":580,"wires":[["322b920f.82889e","7356969f.912138","77886cf6.219964"]]},{"id":"3e30236d.d9a90c","type":"debug","z":"b525e208.bca05","name":"Prueba","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":480,"wires":[]},{"id":"322b920f.82889e","type":"debug","z":"b525e208.bca05","name":"Prueba2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":520,"wires":[]},{"id":"fca7477f.9b6b78","type":"debug","z":"b525e208.bca05","name":"Prueba3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":740,"wires":[]},{"id":"7356969f.912138","type":"ui_gauge","z":"b525e208.bca05","name":"Bateria","group":"fcd63f63.df8d5","order":0,"width":0,"height":0,"gtype":"gage","title":"Batería","label":"Volt","format":"{{value}}","min":0,"max":"26","colors":["#b33e00","#e6e600","#3ccb3a"],"seg1":"5","seg2":"15","className":"","x":800,"y":560,"wires":[]},{"id":"d308ac43.8ce0b","type":"ui_gauge","z":"b525e208.bca05","name":"Panel","group":"fcd63f63.df8d5","order":0,"width":0,"height":0,"gtype":"gage","title":"Panel","label":"Volt","format":"{{value}}","min":0,"max":"26","colors":["#b33e00","#e6e600","#3ccb3a"],"seg1":"5","seg2":"15","className":"","x":870,"y":740,"wires":[]},{"id":"77886cf6.219964","type":"ui_chart","z":"b525e208.bca05","name":"","group":"fcd63f63.df8d5","order":2,"width":0,"height":0,"label":"Grafica Batería","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"26","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":620,"wires":[[]]},{"id":"1bfa2764.417019","type":"ui_chart","z":"b525e208.bca05","name":"","group":"fcd63f63.df8d5","order":2,"width":0,"height":0,"label":"Grafica Panel","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"26","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":680,"wires":[[]]},{"id":"fcd63f63.df8d5","type":"ui_group","z":"","name":"Monitoreo Sunmonitor","tab":"d24c8db8.403a2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d24c8db8.403a2","type":"ui_tab","z":"","name":"Monitoreo paneles","icon":"dashboard","disabled":false,"hidden":false}]